<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if user.is_authenticated%} 
    <h1>Welcome  {{user.username}} </h1>
    <h4>You are logged in </h4>
    <div class="mt-4">
        <p>Want to log out?</p>
        <a href="{% url 'logout'%} "class="btn btn-primary btn-lg mr-3">Log Out</a><br><br>
        <p>Want to go back to home page?</p>
        <a href="{% url 'app1:home'%} "class="btn btn-primary btn-lg mr-3">Home</a>
    </div>
    {%else%} 
    <form method="POST">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="submit"> 
    </form>
    {%endif%}
</body>
</html>



<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="submit"> 
    </form>
</body>
</html>
-->