<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet"  href="{% static 'app1/table.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Our Services</h1>
    <table border="1" class="center">
        <thead >
            <th>Hospital</th>
            <th>Service</th>
            <th>Location</th>
            <th>Availability</th>
            {%if user.is_authenticated%}
            {%if user.patient%} 
                <th>Book</th>
            {%endif%}
            {%endif%}

        </thead>
        {% for service in services%}
            <tr>
                <td>{{service.user}}</td>
                <td>{{service.user.location}}</td>
                <td>{{service.type}}</td>
                <td>{{service.availability}}</td>
                {%if user.is_authenticated%}
                {%if user.patient%} 
                <td><a href="{%url 'app1:booking' id=service.id %}" class="btn" role="button" data-bs-toggle="button">Book</a></td>
                {%endif%}
                {%endif%}
            </tr>
        {%endfor%}  
    </table>
<!--
       {%if user.is_authenticated%}
       {%if user.patient%} 
       <h1>You can book services from here</h1>
        <form method="POST">
            {%csrf_token%}
            {{form}}
            <input type="submit" value="submit">
        </form>
    {%endif%}
    {%endif%}


    </ul>
-->
</body>
</html>